---
---

@import "rouge-github";

a.logo {
  align-items: center;
}

.wrapper {
  margin:0 auto;
}

section {
  float: left;
  max-width: 630px;
}

header {
  float: right;
  margin-bottom: 2em;
}

byline {
  display: block;
  margin-bottom: 2em;
  font-size: smaller;
}

footer {
  clear: both;
  position: relative;
  height: 100px;
}

@media(max-width: 768px) {
  section, header {
    float: none;
  }
}
