<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link href="https://unpkg.com/primer/build/build.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Digraph</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  </head>
  <body>
    <div class="container-lg layout about p-responsive">
      <div class="pagehead mt-6">
        <h1>
          <a class="text-gray-dark no-underline" href="/">
            <div class="mr-2 d-inline-block primary-logo">
              {% include logo.svg.html %}
            </div>
            Digraph
          </a>
        </h1>
      </div>

      <p>
        Manage links in a mind-map-like network of topics. Tag articles, studies and videos for long-term retrievability.
        Transform information into knowledge by turning the ephemeral stream things you read every
        day into a growing collection whose structure makes it easy to navigate and find things.
      </p>

      <h2 class="mt-6">How it works</h2>
      <p>
        This video gives a brief intro to Digraph:
      </p>

      <p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Z3WOWikFJGw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </p>

      <p>
        <br/>
        This is just the tip of the iceberg, and more is in the works.
      </p>

      <h2 class="mt-6">Getting started</h2>
      <p>
        Log in with <a href="/auth/github">Github</a> to get started.  You can also take a look at some of
        the links and topics that have been added to the public collection <a href="/">here</a>.
        Links and topics can be public or private.
      </p>

      <p>
        Questions or comments?  You can reach me <a href="mailto:eric.walker@gmail.com">here</a>.
      </p>

      <footer>
        <div class="my-6 pt-2 border-top">
          <p class="mb-2">
            This software is available for use under the MIT
            <a href="https://github.com/emwalker/digraph/blob/master/LICENSE.md">license</a>.
            © Eric Walker.
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
